In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [3]:
Credit_card_data = pd.read_csv('fraudTrain.csv')

In [4]:
Credit_card_data.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,...,36.0788,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0
1,1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,...,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
2,2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,...,42.1808,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0
3,3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,...,46.2306,-112.1138,1939,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0
4,4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,...,38.4207,-79.4629,99,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0

In [54]:
columns_to_remove = ['merchant', 'category','first','last','gender','street','job','city','state','trans_date_trans_time','dob','trans_num']
df_modified = Credit_card_data.drop(columns_to_remove, axis=1)
print(df_modified)

         Unnamed: 0               cc_num     amt    zip      lat      long  \
0                 0     2703186189652095    4.97  28654  36.0788  -81.1781
1                 1         630423337322  107.23  99160  48.8878 -118.2105
2                 2       38859492057661  220.11  83252  42.1808 -112.2620
3                 3     3534093764340240   45.00  59632  46.2306 -112.1138
4                 4      375534208663984   41.96  24433  38.4207  -79.4629
...             ...                  ...     ...    ...      ...       ...
1296670     1296670       30263540414123   15.56  84735  37.7175 -112.4777
1296671     1296671     6011149206456997   51.70  21790  39.2667  -77.5101
1296672     1296672     3514865930894695  105.93  88325  32.9396 -105.8189
1296673     1296673     2720012583106919   74.90  57756  43.3526 -102.5411
1296674     1296674  4292902571056973207    4.30  59871  45.8433 -113.8748

         city_pop   unix_time  merch_lat  merch_long  is_fraud
0            3495  1325376018  36.011293  -82.048315         0
1             149  1325376044  49.159047 -118.186462         0
2            4154  1325376051  43.150704 -112.154481         0
3            1939  1325376076  47.034331 -112.561071         0
4              99  1325376186  38.674999  -78.632459         0
...           ...         ...        ...         ...       ...
1296670       258  1371816728  36.841266 -111.690765         0
1296671       100  1371816739  38.906881  -78.246528         0
1296672       899  1371816752  33.619513 -105.130529         0
1296673      1126  1371816816  42.788940 -103.241160         0
1296674       218  1371816817  46.565983 -114.186110         0

[1296675 rows x 11 columns]

In [55]:
df_modified.head()

,Unnamed: 0,cc_num,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud
0,0,2703186189652095,4.97,28654,36.0788,-81.1781,3495,1325376018,36.011293,-82.048315,0
1,1,630423337322,107.23,99160,48.8878,-118.2105,149,1325376044,49.159047,-118.186462,0
2,2,38859492057661,220.11,83252,42.1808,-112.2620,4154,1325376051,43.150704,-112.154481,0
3,3,3534093764340240,45.00,59632,46.2306,-112.1138,1939,1325376076,47.034331,-112.561071,0
4,4,375534208663984,41.96,24433,38.4207,-79.4629,99,1325376186,38.674999,-78.632459,0

In [56]:
df_modified.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1296675 entries, 0 to 1296674
Data columns (total 11 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   Unnamed: 0  1296675 non-null  int64
 1   cc_num      1296675 non-null  int64
 2   amt         1296675 non-null  float64
 3   zip         1296675 non-null  int64
 4   lat         1296675 non-null  float64
 5   long        1296675 non-null  float64
 6   city_pop    1296675 non-null  int64
 7   unix_time   1296675 non-null  int64
 8   merch_lat   1296675 non-null  float64
 9   merch_long  1296675 non-null  float64
 10  is_fraud    1296675 non-null  int64
dtypes: float64(5), int64(6)
memory usage: 108.8 MB

In [57]:
df_modified.isnull().sum()

Unnamed: 0    0
cc_num        0
amt           0
zip           0
lat           0
long          0
city_pop      0
unix_time     0
merch_lat     0
merch_long    0
is_fraud      0
dtype: int64

In [58]:
df_modified['is_fraud'].value_counts()

0    1289169
1       7506
Name: is_fraud, dtype: int64

It is an Unbalanced Data Distribution.

In [59]:
legit = df_modified[df_modified.is_fraud == 0]
fraud = df_modified[df_modified.is_fraud == 1]

In [60]:
print(legit.shape)
print(fraud.shape)

(1289169, 11)
(7506, 11)

In [61]:
legit.amt.describe()

count    1.289169e+06
mean     6.766711e+01
std      1.540080e+02
min      1.000000e+00
25%      9.610000e+00
50%      4.728000e+01
75%      8.254000e+01
max      2.894890e+04
Name: amt, dtype: float64

In [62]:
fraud.amt.describe()

count    7506.000000
mean      531.320092
std       390.560070
min         1.060000
25%       245.662500
50%       396.505000
75%       900.875000
max      1376.040000
Name: amt, dtype: float64

Comparing the values of both Classes

In [63]:
df_modified.groupby('is_fraud').mean()

,Unnamed: 0,cc_num,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long
is_fraud,,,,,,,,,,
0,648473.169029,4.172901e+17,67.667110,48805.107481,38.536888,-90.228142,88775.228137,1.349249e+09,38.536659,-90.228274
1,624949.724354,4.003577e+17,531.320092,48038.714229,38.663609,-89.916041,97276.763256,1.348389e+09,38.653901,-89.915808

# under-Sampling

In [64]:
legit_sample = legit.sample(n=7506)

# concatinet 2 Dataframe

In [65]:
new_dataset = pd.concat([legit_sample,fraud], axis=0)

In [66]:
new_dataset.head()

,Unnamed: 0,cc_num,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud
616129,616129,4400011257587661852,46.90,68859,41.4972,-98.7858,509,1348019720,41.351758,-98.198211,0
743878,743878,6011367958204270,135.19,44233,41.2419,-81.7453,7646,1352897728,41.261306,-81.827290,0
1113700,1113700,4198470814557,46.92,51521,41.4768,-95.3509,2036,1365375053,40.588159,-96.066903,0
1286305,1286305,3595111028444131,40.65,63829,36.0434,-90.2907,1120,1371419291,35.906496,-90.993078,0
454042,454042,3553629419254918,14.95,98238,48.3400,-122.3456,85,1342808434,48.504737,-122.778362,0

In [67]:
new_dataset['is_fraud'].value_counts()

0    7506
1    7506
Name: is_fraud, dtype: int64

In [68]:
new_dataset.groupby('is_fraud').mean()

,Unnamed: 0,cc_num,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long
is_fraud,,,,,,,,,,
0,648996.366107,3.900920e+17,67.338377,48591.431122,38.463548,-90.061931,91114.542766,1.349281e+09,38.458743,-90.060666
1,624949.724354,4.003577e+17,531.320092,48038.714229,38.663609,-89.916041,97276.763256,1.348389e+09,38.653901,-89.915808

In [69]:
X = new_dataset.drop(columns='is_fraud', axis=1)
Y = new_dataset['is_fraud']

In [70]:
print(X)
print(Y)

         Unnamed: 0               cc_num      amt    zip      lat      long  \
616129       616129  4400011257587661852    46.90  68859  41.4972  -98.7858
743878       743878     6011367958204270   135.19  44233  41.2419  -81.7453
1113700     1113700        4198470814557    46.92  51521  41.4768  -95.3509
1286305     1286305     3595111028444131    40.65  63829  36.0434  -90.2907
454042       454042     3553629419254918    14.95  98238  48.3400 -122.3456
...             ...                  ...      ...    ...      ...       ...
1295399     1295399     3524574586339330   977.01  32960  27.6330  -80.4031
1295491     1295491     3524574586339330  1210.91  32960  27.6330  -80.4031
1295532     1295532     4005676619255478    10.24  70726  30.4590  -90.9027
1295666     1295666     3560725013359375    21.69  79759  31.8599 -102.7413
1295733     1295733     4005676619255478    10.20  70726  30.4590  -90.9027

         city_pop   unix_time  merch_lat  merch_long
616129        509  1348019720  41.351758  -98.198211
743878       7646  1352897728  41.261306  -81.827290
1113700      2036  1365375053  40.588159  -96.066903
1286305      1120  1371419291  35.906496  -90.993078
454042         85  1342808434  48.504737 -122.778362
...           ...         ...        ...         ...
1295399    105638  1371776408  26.888686  -80.834389
1295491    105638  1371779615  28.216707  -79.855648
1295532     71335  1371781016  29.700456  -91.361632
1295666        23  1371785180  32.675272 -103.484949
1295733     71335  1371787186  31.363252  -89.932309

[15012 rows x 10 columns]
616129     0
743878     0
1113700    0
1286305    0
454042     0
          ..
1295399    1
1295491    1
1295532    1
1295666    1
1295733    1
Name: is_fraud, Length: 15012, dtype: int64

Splitting it into Training Data & Testing Data

In [71]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.2, stratify=Y, random_state=2)

In [72]:
print(X.shape,X_train.shape,X_test.shape)

(15012, 10) (12009, 10) (3003, 10)

Model Training:

In [73]:
model = LogisticRegression()

In [74]:
model.fit(X_train,Y_train)

LogisticRegression()

# Model Evaluation

In [76]:
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [77]:
print('Accuracy on Training Data: ',training_data_accuracy)

Accuracy on Training Data:  0.5000416354400866

In [ ]:
input_data = [[amount, time_of_day, ...]] 
predicted_label = model.predict(input_data)
print(f"Predicted label: {predicted_label[0]}")